/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {

  overflow-x: hidden;
}


.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  padding: 0 10px;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;

}



@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.button-container button.clicked {
  animation: buttonPulse 0.6s ease;
}

@keyframes buttonPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 150, 255, 0.6);
    transform: scale(1.);
  }

  50% {
    box-shadow: 0 0 12px 6px rgba(255, 150, 255, 0.8);
    transform: scale(1.3);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(229, 108, 229, 0.6);
    transform: scale(1);
  }
}

.button-container {
  /* margin-top: 1vw; */
  margin-bottom: 1vw;
}

.array-bar {
  width: 2px;
  background-color: #d946ef;
  display: inline-block;
  margin: 0 1px;
}

.button-container button {
  /* color: #F0F0F0; */
  filter: blur(0.1);
  padding: 8px 12px;
  /* border: none; */
  cursor: pointer;

  background: linear-gradient(135deg,
      Cyan,
      rgb(255, 49, 248),
      Pink,
      #ff6ad5,
      #00f5d4);
  background-size: 1000% 1000%;
  font-weight: 700;
  animation: premiumWave 10s ease-in-out infinite;
  box-shadow: 0 4px 8px rgba(255, 100, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  letter-spacing: 1px;
}

.button-container button:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(200, 100, 255, 0.5);
}

@keyframes premiumWave {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}